$zindex-editorEditInputs: 1020;

$workflowObjectZIndex: 0;

$selectedWorkflowObjectZIndex: 5;
$dateTimePickerForDeadline: 10000;

$workflowObjectActionButtonZIndex: 10;

$zindexDialogs: 2000;

$zindexFlowEditorZooms: 900;

$zindexFlowLeftMenuList: 9997;

$zindex-content-return-button-container: 910;
$zindex-content-return-button: 905;
$zindex-document-upload-button-container: 300;
$zindex-editor-time-picker: 10000;
$zindex-default: 1;
$zindex-top-nav: 9996;

$zindex-dropdown-content: 10;
$zindex-footer-header: 1000;
$zindex-dropdown-list: 5;
$zindex-overlay-task-not-editable: 25;

$zindexPopup: 9998;
$zindexTooltip: 11000;
$zindexCustomDropdown: 9995;

$zindexFooter: 999;

$zindexFooterFilterPopup: 8000;
